logs
results
trained_models
hyperparameters/*
checkpoints
wandb
test_results
.vscode
*/__pycache__
__pycache__
*/*.pyc

!hyperparameters/config.json
!hyperparameters/config.txt
!hyperparameters/autoencoder.json
!hyperparameters/ncf.json
!hyperparameters/als.json
!hyperparameters/lightgcn.json
!hyperparameters/gernot.json
!hyperparameters/cfda.json
!hyperparameters/ensemble.json
!hyperparameters/bayesiansvd.json
!hyperparameters/funksvd.json
!hyperparameters/svdplusplus.json
