logs
results
trained_models
hyperparameters/*
checkpoints
wandb
test_results
.vscode

!hyperparameters/config.json
!hyperparameters/config.txt
!hyperparameters/autoencoder.json
!hyperparameters/ncf.json
!hyperparameters/als.json
!hyperparameters/lightgcn.json
!hyperparameters/gernot.json
!hyperparameters/cfda.json
!hyperparameters/ensemble.json